body {
    background-image: URL('https://wallpapersmug.com/download/1920x1080/761f4e/galaxy-space-stars-5k.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Kanit', sans-serif;
  }
  
  header {
    background-color: rgb(253, 253, 253);
    color: rgb(255, 255, 255);
    height: 70px;
    padding: 10px;
  }

  footer {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 20px;
    padding: 10px;
    text-align: center;
  }

.mainpage {
    width: 1024px;
    margin: 0 auto;
  }

  .headname1 {
      color: rgb(255, 255, 255);
      font-size: 30px;
  }

  .headname2{
    color: rgb(255, 255, 255);
  }

  .graphic{
    background-image: url("images/chantaburi-cover.jpeg");
    height: 320px;
    padding: auto;
  }

  .map{
    border: 1px solid blue;
    height: 300px;
  }